*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{

    color: aliceblue;
    background-color: darkgray;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

